Harvey.Device.Connector/.vs/
Harvey.Device.Connector/Harvey.Device.Connector/bin/
Harvey.Device.Connector/Harvey.Device.Connector/obj/
Harvey.Device.Connector/packages/
Harvey.DeviceHub/Harvey.DeviceHub/bin/
Harvey.DeviceHub/Harvey.DeviceHub/obj/
Harvey.DeviceHub/.vs/
Harvey.DeviceHub/packages/
